[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==4.4.0"
openshift = "==0.13.1"
pyvmomi = "==7.0.2"
dnspython = "==2.2.0"
netaddr = "==0.8.0"

[dev-packages]

[requires]
python_version = "3.9"
